/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

body{
	font-family: 'Ubuntu', sans-serif;
	background-color: #deeaee;
	color: #5a9216;
}