button{
	background-color: blue;
	padding: 10px 15px;
	outline: none;
	border: 0;
	color: white;
	box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size: 1em;
	cursor: pointer;
}	
button:active{
		opacity: 50%;
	}
p{
	margin-top: 10px;
	opacity: 0.56;
	font-size: 0.6em;
}