<div *ngIf="!(geolocationService.coords$ | async)">
	<button (click)="geolocationService.requestGeolocation()">Activar mi ubicación</button>
	<p>Activa tu ubicación para recibir datos del clima para tu ciudad.</p>
</div>